body{
  min-width: 320px;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
}
heading{
  font-weight: 900;
  font-size: 36px;
  margin: 20px auto;
}
footer{
  margin-bottom: 0px;
  color: grey;
  font-size: 14px;
  text-align: center;
  padding: 2px 2px;
}
#lets-play{
  color: white;
  margin: 0 auto;
  height: 80px;
  padding-top: 120px;
  padding-bottom: 0;
}
#jeopardy{
  color:silver;
  text-decoration: underline gold;
  text-shadow: 0 8px 2px black;
  margin: 0 auto;
  
}
#create-game{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin: 70px auto;
  height: 80px;
  padding: 20px 60px;
  font-size: 28px;
  font-weight: 800;
  border-radius: 40px;
  background: #070F7F;
  border: 4px solid white;
  color: white;
}
#create-game:hover{
  cursor: pointer;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
  border: 4px solid white;
  box-shadow: 0px 4px 6px grey;
  transition: 0.5s;
}
#rules{
  margin: 40px 0;
  font-size: 30px;
  color: grey;
}