body{
  min-width: 320px;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
}
footer{
  margin-bottom: 0px;
  color: rgb(46, 46, 46);
  font-size: 12px;
  text-align: center;
}
.heading{
  background-color: lightskyblue;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
  font-weight: 900;
  font-size: 36px;
  margin: 10px auto;
  padding: 60px 10px;
}
#lets-play{
  color: white;
  margin: 0 auto;
  font-size: 74px;
  font-family: 'Roboto', sans-serif;
}
#jeopardy{
  color:#F7C800;
  text-shadow: 0 8px 2px rgb(65, 65, 65);
  -webkit-text-stroke-width: 1px; /* Adding trokes: from https://css-tricks.com/adding-stroke-to-web-text/ */
  -webkit-text-stroke-color: rgb(65, 65, 65);
  margin: 4px auto;
  font-family: "Gyparody", 'Londrina Solid', Roboto, sans-serif;
  font-size: 84px;
}
#create-game{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin: 40px auto 100px auto;
  height: 80px;
  padding: 20px 60px;
  font-size: 28px;
  font-weight: 800;
  border-radius: 40px;
  background: #070F7F;
  border: 4px solid white;
  color: white;
}
#create-game:hover{
  cursor: pointer;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
  border: 4px solid white;
  box-shadow: 0px 4px 10px rgb(65, 65, 65);
  transition: 0.3s;
}
#special-rules{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  text-decoration:underline;
  font-size: 28px;
  font-weight: 800;
  background:transparent;
  color: rgb(46, 46, 46);
  border: 0px;
}
#special-rules:hover{
  cursor: pointer;
  text-shadow: 1px 4px 10px rgb(194, 194, 194);
  transition: 0.3s;
}
#rules{
  margin: 80px 0 0 0;
  font-size: 24px;
  color: grey;
}
/* The Modal code from W3School: https://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: whitesmoke; /* Fallback color */
  background-color: rgba(255,255,255,0.6); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background: #070F7F;
  color: white;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 20px 50px;
  border: 0px solid white;
  border-radius: 10px;
  max-width: 690px;
  text-align: center;
  font-size: 20px;
  box-shadow: 0px 4px 10px rgb(65, 65, 65);
}
.modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 2px;
  font-size: 24px;
}
.modal-body{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-weight: 400;
}
.close:hover,
.close:focus {
  color: rgb(51, 59, 181);
  text-shadow: 1px 4px 10px rgb(65, 65, 65);
  text-decoration: none;
  cursor: pointer;
}
@media (max-width: 400px) {
  #lets-play{
    font-size: 60px;
  }
  #jeopardy{
    font-size: 70px;
  }
  #create-game{
    padding: 20px 40px;
  }
}