body{
  min-width: 320px;
  font-family: Roboto, Helvetica, sans-serif;
  text-align: center;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
}
heading{
  font-weight: 900;
  font-size: 36px;
  margin: 10px auto;
}
footer{
  margin-bottom: 0px;
  color: whitesmoke;
  font-size: 14px;
  text-align: center;
  padding: 2px 2px;
}
#lets-play{
  color: white;
  margin: 0 auto;
  height: 80px;
  padding-top: 120px;
  padding-bottom: 0;
  font-size: 80px;
  font-family: 'Roboto', sans-serif;
}
#jeopardy{
  color:#F7C800;
  text-shadow: 0 8px 2px rgb(65, 65, 65);
  -webkit-text-stroke-width: 1px; /* Adding trokes: from https://css-tricks.com/adding-stroke-to-web-text/ */
  -webkit-text-stroke-color: rgb(65, 65, 65);
  margin: 4px auto;
  font-family: "Gyparody", Roboto, sans-serif;
  font-size: 88px;
}
#create-game{
  font-family: 'Roboto Condensed', Helvetica, sans-serif;
  margin: 40px auto 60px auto;
  height: 80px;
  padding: 20px 60px;
  font-size: 28px;
  font-weight: 800;
  border-radius: 40px;
  background: #070F7F;
  border: 4px solid white;
  color: white;
}
#create-game:hover{
  cursor: pointer;
  background: url("giphy.gif"); /* from W3 School */
  background-size: cover;
  border: 4px solid white;
  box-shadow: 0px 4px 6px grey;
  transition: 0.3s;
}
#rules{
  margin: 80px 0 0 0;
  font-size: 24px;
  color: grey;
}
/* The Modal code from W3School: https://www.w3schools.com/howto/howto_css_modals.asp*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}
/* Modal Content/Box */
.modal-content {
  display: flex;
  flex-direction: column;
  background: #070F7F;
  color: white;
  margin: 10% auto; /* 10% from the top and centered */
  padding: 40px 100px;
  border: 1px solid white;
  border-radius: 10px;
  width: 50%; /* depending on screen size */
  text-align: center;
  font-size: 24px;
}
.modal-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}